<header class="navbar">

  <!-- LEFT LOGO -->
  <div class="logo">
    <span class="dizi">DIZI</span><span class="edu">Edutech</span>
  </div>

  <!-- NAV LINKS -->
  <nav class="nav-links">
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/challenges" routerLinkActive="active">Challenges</a>
    <a routerLink="/detail" routerLinkActive="active">Detail</a>
    <a routerLink="/postchallenge" routerLinkActive="active">Post Challenge</a>
    <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a routerLink="/submission" routerLinkActive="active">Submission</a>
    <a routerLink="/evaluation" routerLinkActive="active">Evaluation</a>
    <a routerLink="/leaderboard" routerLinkActive="active">Leaderboard</a>
    <a routerLink="/rewards" routerLinkActive="active">Rewards</a>
  </nav>

  <!-- RIGHT SIDE -->
  <div class="nav-actions">
    <a routerLink="/postchallenge" routerLinkActive="active">
      <button class="btn light">Post Challenge</button>
    </a>
    <a routerLink="/dashboard" routerLinkActive="active">
      <button class="btn dark">My Dashboard</button>
    </a>
    <div class="profile">DS</div>
  </div>
</header>