<app-header></app-header>
<div class="page-wrapper">
  <div class="layout">

<div class="container">

  <!-- HEADER -->
  <div class="content-header">
    <div class="icon">{{ headerIcon }}</div>
    <h1>{{ headerTitle }}</h1>
    <p>{{ headerSubtitle }}</p>
  </div>

  <!-- CARDS -->
  <div class="card-rewards">

    <div class="card" [ngClass]="card.cardType" *ngFor="let card of rewardCards">
      <div class="icon">{{ card.icon }}</div>
      <h3>{{ card.title }}</h3>
      <p>{{ card.description }}</p>
      <h2>{{ card.value }}</h2>
      <button (click)="handleCardAction(card.buttonAction)">{{ card.buttonText }}</button>
    </div>

  </div>

  <!-- SPECIAL RECOGNITION AWARDS -->
  <div class="awards-wrapper">

    <h2 class="section-title">{{ specialAwardsTitle }}</h2>

    <div class="awards">

      <div class="award" *ngFor="let award of specialAwards">
        <div class="award-icon">{{ award.icon }}</div>
        <h4>{{ award.title }}</h4>
        <p>{{ award.subtitle }}</p>
      </div>

    </div>

  </div>

  <!-- WINNERS HALL -->
  <h2 class="section-title">{{ winnersTitle }}</h2>

  <div class="winners">

    <div class="winner" *ngFor="let winner of winners">
      <div class="circle" [ngClass]="winner.avatarBg">{{ winner.initials }}</div>
      <h4>{{ winner.name }}</h4>
      <p class="name">{{ winner.college }}</p>
      <span class="badge1" [ngClass]="winner.badgeType">{{ winner.badge }}</span>
    </div>

  </div>

</div>
</div>
</div>