<div class="create-team-wrapper">

  <div class="create-team-card">

    <div class="create-team-header">
      <div class="create-team-icon">👥</div>

      <h2 class="create-team-title">
        {{ isEditMode ? 'Update Team' : 'Create Team' }}
      </h2>

      <p class="create-team-subtitle">
        Manage your team and collaborate effectively
      </p>
    </div>

   <div class="create-team-form">
    <div class="create-team-grid">

      <div class="create-team-form-group">
        <label>Team Name</label>
        <input type="text" [(ngModel)]="team.name" placeholder="Enter team name">
      </div>

      <div class="create-team-form-group">
        <label>Challenge</label>
        <input type="text" [(ngModel)]="team.challenge" placeholder="Enter challenge">
      </div>

      <div class="create-team-form-group">
        <label>Domain</label>
        <input type="text" [(ngModel)]="team.domain" placeholder="Enter domain">
      </div>

      <div class="create-team-form-group">
        <label>Role</label>
        <input type="text" [(ngModel)]="team.role" placeholder="Enter role">
      </div>

      <div class="create-team-form-group create-team-full">
        <label>Members</label>
        <input type="text" [(ngModel)]="membersInput" placeholder="Comma separated names">
      </div>

    </div>

    <button (click)="createTeam()" class="create-team-btn">
      {{ isEditMode ? 'Update Team' : 'Create Team' }}
    </button>
  </div>

  </div>

</div>




 